footer
    .container-fluid
        .row
            .col-12
                ul.menu
                    li
                        a(href='./' title='') home
                    li
                        a(href='services.html' title='') services
                    li
                        a(href='above.html' title='') above
                    li
                        a(href='portfolio.html' title='') portfolio
                    li
                        a(href='blog.html' title='') blog
                    li
                        a(href='vacancy.html' title='') vacancy
                    li
                        a(href='contacts.html' title='') contacts
                ul.menu-social
                    li
                        a(href='#', title='')
                            include ../svgs/behance.svg
                    li
                        a(href='#', title='')
                            include ../svgs/dribble.svg
                    li
                        a(href='#', title='')
                            include ../svgs/facebook.svg
                    li
                        a(href='#', title='')
                            include ../svgs/linkedin.svg
        .row
            .col-12
                p.footer-copyright Copyright all rights reserved. 2018 Volta

    a(href='#pageup', title='', class='smooth').link-arrow
        include ../svgs/arrow-up.svg


script(type="text/javascript" src="js/vendor.js")
script(type="text/javascript" src="js/scripts.js")