.link-hire
    .link-hire--step#step1
        .link-hire--text
            p Have a project?
            h2 Hire us
                include ../svgs/arrow-right-big.svg
    .link-hire--step#step2
        form.form-hire
            .select-group
                select.chosen-select(data-placeholder='What can we help you with?')#select-hire
                    option(disabled selected)
                    option Web design & Development
                    option Branding & identity development
                    option Marketing & analyst
                    option Mobile app development

            .input-group
                input(type='text' placeholder='Your name').error
                .input-shadow

            .input-group
                input(type='mail' placeholder='Enter your e-mail')
                .input-shadow

            .textarea-group
                textarea(placeholder='A brief intro to your project' rows='1')
                .input-shadow

            .form-submit
                button(type='submit').btn-send
                    .btn-send--text send
                    .btn-send--icon
                        include ../svgs/send3.svg

    .link-hire--step#step3
        .link-hire--text
            include ../svgs/mail-submit.svg
            h3 Thanks for your message!
                br
                | We will respond soon

    .link-hire--close
