ul.panel-icon
    li
        a(href='#', title='')
            include ../svgs/behance.svg
    li
        a(href='#', title='')
            include ../svgs/dribble.svg


ul.panel-icon.panel-icon-right
    li
        a(href='#', title='')
            include ../svgs/facebook.svg

    li
        a(href='#', title='')
            include ../svgs/linkedin.svg


a(href='#pageup', title='', class='smooth').link-arrow
    include ../svgs/arrow-up.svg

