ul.panel-icon
    li
        a(href='#', title='' target='_blank')
            include ../svgs/behance.svg
    li
        a(href='#', title='' target='_blank')
            include ../svgs/dribble.svg


ul.panel-icon.panel-icon-right
    li
        a(href='#', title='' target='_blank')
            include ../svgs/facebook.svg

    li
        a(href='#', title='' target='_blank')
            include ../svgs/linkedin.svg