nav
    .container-fluid
        .row#nav-desktop
            .col-6.col-md-2
                a(href='./' title='').link-logo
                    include ../svgs/volta-logo.svg

            .col-6.nav-menu
                .nav-icon#menu-trigger
                    span
                    span
                    span
                    span


            .col-8.col-md-8.col-lg-9.nav-panel
                ul.menu
                    li
                        a(href='./' title='') home
                    li
                        a(href='services.html' title='') services
                    li
                        a(href='about.html' title='') about
                    li
                        a(href='portfolio.html' title='') portfolio
                    li
                        a(href='blog.html' title='') blog
                    li
                        a(href='vacancy.html' title='') vacancy
                    li
                        a(href='contacts.html' title='') contacts
            .col-2.col-md-2.col-lg-1.nav-lang
                ul.menu.menu-lang
                    li
                        a(href='#' title='') ENG
                    li
                        a(href='#' title='') UKR
                    li
                        a(href='#' title='') RUS
                .select-group.select-lang
                    select.chosen-select
                        option ENG
                        option UKR
                        option RUS

.container-fluid#nav-mobile
    .row.justify-content-center
        .col-10
            ul.menu-social
                li
                    a(href='#', title='')
                        include ../svgs/behance.svg
                li
                    a(href='#', title='')
                        include ../svgs/dribble.svg
                li
                    a(href='#', title='')
                        include ../svgs/facebook.svg
                li
                    a(href='#', title='')
                        include ../svgs/linkedin.svg
