section.section-last
    .container
        .row.justify-content-center
            .col-xl-3.col-lg-4.col-md-5.col-sm-6
                ul.pagination
                    li
                        a(href='#' title='').arrow
                            include ../svgs/angle-left-pag.svg
                    li
                        a(href='#' title='').active 1
                    li
                        a(href='#' title='') 2
                    li
                        a(href='#' title='') 3
                    li
                        a(href='#' title='') ...
                    li
                        a(href='#' title='').arrow
                            include ../svgs/angle-right-pag.svg