header.header-regular
    .container-fluid
        .row.justify-content-center
            .col-12
                ul.breadcrumbs
                    li
                        a(href='' title='') Home
                    li
                        a(href='' title='') Blog
            .col-xl-4.col-lg-6.col-md-8.col-sm-10
                h1 BLOG
                p Только собственно мнение Volta Agency обо всем, что связано с Digital