header.header-index
    .container-fluid
        .row
            .offset-md-1.col-md-9
                h1 We are VOLTA - a marketing driven digital production

    .portfolio.jumbotron
        .portfolio--front
            a(href='portfolio.html' title='').container.portfolio--front-link
                .row.justify-content-center
                    .col-lg-4.col-md-10.col-left
                        .portfolio--front-description
                            span.link-inner View portfolio
                                include ../../svgs/arrow-right.svg
                    .col-lg-6.col-md-10.col-rght
                        img(src='img/illus/illus1.png' title='' alt='').portfolio--front-image

        .portfolio--back
