header.header-regular.header-blog
    .container-fluid
        .row.justify-content-center
            .col-12
                ul.breadcrumbs
                    li
                        a(href='./' title='') Home
                    li
                        a(href='blog.html' title='') Blog
    .container
        .row.justify-content-center
            .col-xl-4.col-lg-6.col-md-8.col-sm-10
                h1 BLOG
                p Только собственно мнение Volta Agency обо всем, что связано с Digital