header.header-regular
    .container-fluid
        .row.justify-content-center
            .col-12
                ul.breadcrumbs
                    li
                        a(href='' title='') Home
                    li
                        a(href='' title='') About
            .col-xl-7.col-lg-9.col-md-11
                h1 ABOUT
                p We are Volta — digital communications agency from Kyiv, offering services on the B2B market. Our specialization - advertisement, marketing and production. We prefer combining both - virtual and physical spaces, offering our clients complete and integrated solutions.