header.header-regular.header-blogin
    .container-fluid
        .row
            .col-12
                ul.breadcrumbs
                    li
                        a(href='./' title='') Home
                    li
                        a(href='#' title='') Blog
                    li
                        a(href='#' title='') Vaquform - вакуум…
    .container
        .row.justify-content-center
            .col-xl-9.col-lg-10
                h1 VAQUFORM -  ВАКУУМ ДЛЯ СФЕРИЧЕСКОГО КОНЯ И ЧЕГО-УГОДНО
