header.header-regular
    .container-fluid
        .row
            .col-12
                ul.breadcrumbs
                    li
                        a(href='./' title='') Home
                    li
                        a(href='services.html' title='') Services
    .container
        .row.justify-content-center
            .col-md-11.col-lg-9.col-xl-7.col-xxl-6
                h1 SERVICES
                p Только собственно мнение Volta Agency обо всем, что связано с Digital