header.header-regular.header-contacts
    .container-fluid
        .row
            .col-12
                ul.breadcrumbs
                    li
                        a(href='./' title='') Home
                    li
                        a(href='contacts.html' title='') Contacts
    .container
        .row.justify-content-center
            .col-md-11.col-lg-9.col-xl-7.col-xxl-6
                h1 CONTACTS
