.body-crimson
  #preloader-load {
    background: #fff url('../img/logo/volta-logo4.svg') center center no-repeat;
    background-size: 197px
  }

  .wrapper
    background $crimson

  .panel-icon li a svg g, .link-logo svg g, .link-arrow svg g, .menu-social li a svg g
    fill $crimson

  .link-logo
      svg g, path, rect, circle, polygon
        fill $crimson

  .panel-icon li a, .link-arrow, .menu-social li a
    &:hover
      svg g
        fill $pink

  .link-logo
    &:hover
      svg g, path, rect, circle, polygon
        fill $pink

  .menu li a, .footer-copyright
    color $crimson

  .menu li a:hover
      color $pink

  +mob()
    nav
      background $crimson
    .link-logo svg
      g, path, rect, circle, polygon
        fill $white

.select-lang
  .chosen-container .chosen-single span, .chosen-container-single .chosen-drop .chosen-results .active-result
    color $crimson
  .chosen-container-single .chosen-drop .chosen-results .active-result.highlighted
    color $pink
  .chosen-container:after
    triangle($crimson, down, 5px)

body.no-canvas.body-crimson
  +dis()
    .wrapper
      background $crimson !important