.body-gray-light
  #preloader-load {
    background: #fff url('../img/logo/volta-logo6.svg') center center no-repeat;
    background-size: 197px
  }
  
  .wrapper
    background $gray-light

  .panel-icon li a svg g, .link-logo svg g, .link-arrow svg g, .menu-social li a svg g
    fill $gray-light

  .link-logo
      svg g, path, rect, circle, polygon
        fill $gray-light

  .panel-icon li a, .link-arrow, .menu-social li a
    &:hover
      svg g
        fill $pink

  .link-logo
    &:hover
      svg g, path, rect, circle, polygon
        fill $pink

  .menu li a, .footer-copyright
    color $gray-light

  .menu li a:hover
    color $pink
    
  +mob()
    nav
      background $gray-light
    .link-logo svg
      g, path, rect, circle, polygon
        fill $white

  .blog:after
    background $gray-lightdark

  .blog--date li
    color: $gray-lighter
    svg g
      fill $gray-lighter

  .select-lang
    .chosen-container .chosen-single span, .chosen-container-single .chosen-drop .chosen-results .active-result
      color $gray-light
    .chosen-container-single .chosen-drop .chosen-results .active-result.highlighted
      color $pink
    .chosen-container:after
      triangle($gray-light, down, 5px)

body.no-canvas.body-gray-light
  +dis()
    .wrapper
      background $gray-light !important
