.body-gray-darker
  #preloader-load {
    background: #fff url('../img/logo/volta-logo2.svg') center center no-repeat;
    background-size: 197px
  }

  .wrapper
    background $gray-darker

  .panel-icon li a svg g, .link-logo svg g, .link-arrow svg g, .menu-social li a svg g
    fill $gray-darker

  .panel-icon li a, .link-logo, .link-arrow, .menu-social li a
    &:hover
      svg g
        fill $pink

  .menu li a, .footer-copyright
    color $gray-darker

  .menu li a:hover
    color $pink

  +mobile()
    nav
      background $gray-darker
    .link-logo
      svg g
        fill $white

  .select-lang
    .chosen-container .chosen-single span, .chosen-container-single .chosen-drop .chosen-results .active-result
      color $gray-darker
    .chosen-container-single .chosen-drop .chosen-results .active-result.highlighted
      color $pink
    .chosen-container:after
      triangle($gray-darker, down, 5px)
