.body-crimson

  .wrapper
    background $crimson

  .panel-icon li a svg g, .link-logo svg g, .link-arrow svg g, .menu-social li a svg g
    fill $crimson

  .panel-icon li a, .link-logo, .link-arrow, .menu-social li a
    &:hover
      svg g
        fill $pink

  .menu li a, .footer-copyright
    color $crimson

  .menu li a:hover
      color $pink

  +mobile()
    nav
      background $crimson
    .link-logo
      svg g
        fill $white