.body-purple-darker

  #preloader-load {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url('../img/logo/volta-logo8.svg') center center no-repeat;
    background-size: 197px
  }

  .wrapper
    background $purple-darker
    
  .panel-icon li a svg g, .link-logo svg g, .link-arrow svg g, .menu-social li a svg g
    fill $purple-darker

  .panel-icon li a, .link-logo, .link-arrow, .menu-social li a
    &:hover
      svg g
        fill $pink

  .menu li a, .footer-copyright
    color $purple-darker

  .menu li a:hover
    color $pink
        
  +mobile()
    nav
      background $purple-darker
    .link-logo
      svg g
        fill $white