.body-gray-darker

  .wrapper
    background $gray-darker

  .panel-icon li a svg g, .link-logo svg g, .link-arrow svg g, .menu-social li a svg g
    fill $gray-darker

  .panel-icon li a, .link-logo, .link-arrow, .menu-social li a
    &:hover
      svg g
        fill $pink

  .menu li a, .footer-copyright
    color $gray-darker

  .menu li a:hover
    color $pink

  +mobile()
    nav
      background $gray-darker
    .link-logo
      svg g
        fill $white
