.body-gray-lightest

  #preloader-load {
    background: #fff url('../img/logo/volta-logo7.svg') center center no-repeat;
    background-size: 197px
  }

  .wrapper
    background $gray-lightest

  .panel-icon li a svg g, .link-logo svg g, .link-arrow svg g, .menu-social li a svg g
    fill $gray-light

  .panel-icon li a, .link-logo, .link-arrow, .menu-social li a
    &:hover
      svg g
        fill $pink

  .menu li a, .footer-copyright
    color $gray-light

  .menu li a:hover
    color $pink

  +mobile()
    nav
      background $gray-lightest
    .link-logo
      svg g
        fill $white

  .breadcrumbs li
    &:after
      background $gray-lightdark
    a
      color $gray-lightdark

  .blog:after
    background $white

  .blog--date li
    color: $gray-lighter
    svg g
      fill $gray-lighter

  .select-lang
    .chosen-container .chosen-single span, .chosen-container-single .chosen-drop .chosen-results .active-result
      color $gray-light
    .chosen-container-single .chosen-drop .chosen-results .active-result.highlighted
      color $pink
    .chosen-container:after
      triangle($gray-light, down, 5px)

  .blog--text h3, .blog--text p
    color $gray-lightdark

