.body-gray-light
  
  .wrapper
    background $gray-light

  .panel-icon li a svg g, .link-logo svg g, .link-arrow svg g, .menu-social li a svg g
    fill $gray-light

  .panel-icon li a, .link-logo, .link-arrow, .menu-social li a
    &:hover
      svg g
        fill $pink

  .menu li a, .footer-copyright
    color $gray-light

  .menu li a:hover
    color $pink
    
  +mobile()
    nav
      background $gray-light
    .link-logo
      svg g
        fill $white

  .blog:after
    background $gray-lightdark

  .blog--date li
    color: $gray-lighter
    svg g
      fill $gray-lighter
