.portfolio-color-yellow
  .portfolio--back
    background $yellow

.portfolio-color-gray-dark
  .portfolio--back
    background $gray-dark

.portfolio-color-green
  .portfolio--back
    background $green

.portfolio-color-purple
  .portfolio--back
    background $purple