.chosen-rtl .chosen-search input[type="text"],
.chosen-container-single .chosen-single abbr,
.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search input[type="text"],
.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
.chosen-container .chosen-results-scroll-down span,
.chosen-container .chosen-results-scroll-up span {
  background-image: url("../img/chosen/chosen-sprite.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("../img/chosen/chosen-sprite@2x.png") !important;
  }
}

.chosen-container
  width 100%
  font-size 1em
  &:after
    triangle($white, down, 5px)
    top calc(50% - 2.5px)
    right 19px
    trans()
  &:focus
    outline none
  .chosen-single
    padding 0
    height auto
    border-radius 0
    border 0
    border-bottom 2px solid $pink-place
    background $trans
    box-shadow none
    trans()
    input[type='text']
      display none
    span
      padding $s5 0 $s6
      font-size 1.125em
      line-height 1.89
      color $white
  .chosen-default
    span
      color #ff86c0
      font-size 1.125em



.chosen-container-single
  .chosen-search
    padding 0 $s5
    margin-bottom $s12
    input[type='text']
      font-size 1em
      border 1px solid #ccc
      padding $s11 $s10 $s12
      background-image none !important

.chosen-container.chosen-with-drop
  &:after
    transform rotate(180deg)

.chosen-container.chosen-container-active
  box-shadow none
  .chosen-single
    box-shadow none
    border none
    border-bottom 2px solid $white
    background none

.chosen-container-single .chosen-drop
  border-radius 0
  border none
  border-top 0
  padding 0
  box-shadow none
  .chosen-results
    padding 0
    margin 0
    position relative
    overflow visible
    &:before
      pseudo(block, absolute)
      bottom -2px
      left 10px
      right 10px
      z-index -1

      height: 17px;
      box-shadow: 0 2px 28px 0 #af0054;
      border-radius 50%
      background rgba(175, 0, 84, .5)

    .active-result
      padding $s12 $s15 $s13
      font-size $f16
      line-height normal
      //background #ef2a88
      background $pink-dark
      trans()
    .active-result.highlighted
      background #fd5fab
    .result-selected
      background #fd5fab
      color $white

.chosen-container-single .chosen-single div b
  display none

.chosen-container
  .chosen-results
    li.no-results
      background $white
      color #999
      font-size .875em
      padding $s12 $s10 $s13


.select-lang
  max-width 68px
  margin 0 5px 0 0
  float: right
  width 100%
  +mobile()
    display none
  .chosen-container .chosen-single span
    color $purple
    font-weight 500
    padding 0
    text-align center
    line-height normal
    font-size $f14
    margin 0
    trans()
  .chosen-container
    width 100% !important
    &:hover
      .chosen-single span
        color $pink !important
  .chosen-container .chosen-single
    border-bottom 0
  .chosen-container-single .chosen-drop .chosen-results .active-result
    background $white
    color $purple
    font-weight 500
    font-size $f14
    padding $s5 0 $s7
    text-align center
    opacity .5
  .chosen-container-single .chosen-drop .chosen-results .active-result.highlighted
    color $pink
    opacity 1
  .chosen-container-single .chosen-drop .chosen-results
    padding-top $s8
    padding-bottom $s9
    background $white
  .chosen-container-single .chosen-drop .chosen-results .result-selected
    display none
  .chosen-container-single .chosen-drop .chosen-results:before
    display none
  .chosen-container:after
    triangle($purple, down, 5px)
    right 0