@import '../../utilities/vars'
@import '../../utilities/mixins'

input
  -webkit-appearance none
  width 100%
  margin-bottom $s5
  background $trans
  border 0
  border-bottom 2px solid $pink-lighter
  border-radius: 0;
  padding $s5 0 $s6
  line-height 1.89
  font-size 1.125em
  color $white
  trans()
  &:-webkit-autofill
    -webkit-box-shadow: inset 0 0 0 50px #fff !important
    -webkit-text-fill-color: #999 !important
  &:focus
    outline none
    border-color $white
  +placeholder()
    color #ff86c0

textarea
  -webkit-appearance none
  resize none
  margin-bottom $s5
  margin-top 57px
  border none
  border-bottom 2px solid $pink-lighter
  border-radius: 0;
  width 100%
  height $f41
  padding $s5 0 $s6
  background $trans
  color $white
  font-size 1.125em
  line-height: 1.89
  trans()
  &:focus
    outline none
    border-color $white
  +placeholder()
    color #ff86c0