@import '../../utilities/vars'
@import '../../utilities/mixins'

select
  width 100%
  background $trans
  border none
  border-bottom 2px solid $pink-lighter
  padding $s5 0 $s6
  border-radius 0
  display block
  margin-bottom $s5
  font-size 1.125em
  -webkit-appearance none
  -moz-appearance none
  trans()
  &:focus
    outline none
    border-color $pink-lighter
  +retinanon()
    font-weight 300

.select-group
  position relative
  margin-bottom $s9
  &:after
    display none
    +mob()
      triangle($black, down, 4px)
      top calc(50% - 5px)
      right 5px