@import '../../utilities/vars'
@import '../../utilities/mixins'

select
  width 100%
  background $trans
  border none
  border-bottom 2px solid $pink-lighter
  padding $s5 0 $s6
  border-radius 0
  display block
  margin-bottom $s5
  font-size 1.125em
  -webkit-appearance none
  -moz-appearance none
  trans()
  &:focus
    outline none
    border-color $pink-lighter

.select-group
  position relative
  margin-bottom $s5
  &:after
    triangle($black, down, 4px)
    top calc(50% - 2px)
    right 15px

.select-group-noarrow
  &:after
    display none !important
    +mobile()
      display block !important
      triangle($black, down, 4px)
      top calc(50% - 5px)
      right 15px