@import '../../utilities/vars'
@import '../../utilities/mixins'

html

html, body
  overflow-x hidden
  font-size 16px


body
  line-height normal
  font-weight 400
  color $black
  font-family $m-font, $s-font, sans-serif
  background $white

body.no-canvas
  canvas
    display none

+dis()
  .container
    max-width 1170px

+xxl()
  .container
    max-width 1500px

+land()
  .container
    max-width 540px


+mob()
  body.open
    overflow hidden !important
    nav
      background $white
    #nav-mobile
      transform none
    .nav-icon
      span
        background $pink
        &:nth-child(1)
          top 18px
          width 0
          left 50%
        &:nth-child(2)
          transform rotate(45deg)
        &:nth-child(3)
          transform rotate(-45deg)
        &:nth-child(4)
          top 18px
          width 0
          left 50%
    .link-logo
      svg
        g, path, rect, circle, polygon
          fill $pink
