@import '../../utilities/vars'
@import '../../utilities/mixins'

blockquote
  padding: $s30 12.8% $s42
  position relative
  background $white
  color $gray-lightdark
  line-height: 1.63;
  font-size $f16
  margin 72px 0
  z-index 20
  &:before, &:after
    position absolute
    display block
  &:before
    content open-quote
    line-height 1
    font-size 7em
    top 10px
    left 15px
  &:after
    content ''
    background $white
    top 0
    bottom 0
    left -10.4%
    right -10.4%
    z-index -1