@import '../../utilities/vars'
@import '../../utilities/mixins'

::selection
  background $pink
  color $white

h1, h2, h3, h4, h5, h6, p, ul li, ol li, blockquote, cite
  font-family $m-font, $s-font, sans-serif
  color $white

h1
  font(3.125em, 500, 1.4)
  margin-bottom $s23
  position relative
  z-index 30
  +portrait()
    font-size 2.5em
  +mobile()
    font-size: 2.25em;

h2
  font(3.5em, 700, 1)
  margin-bottom $s27
  color: $purple-text;
  +mobile()
    font-size 3em

h3
  font(1.875em, 700, 1.13)
  margin-bottom $s39
  +mobile()
    font-size: 1.375em;

h4
  font($f24, 700, 1.42)
  margin-bottom $s36
  letter-spacing: 3px;
  color: $pink-light

h5
  font($f26, 400, 1)
  color $gray-lightdark
  margin 64px 0 $s35

h6
  font($f16, 700, 1.38)
  margin-bottom 0
  color #3f3c41
  +portrait()
    font-size $f12
  +mobile()
    font-size $f14
  @media (max-height: 320px)
    font-size $s20

p
  font(1em, 400, 1.44)
  margin-bottom $s30

.paragraph-lead
  font-size $s20

.paragraph-small
  font-size $s14

hr
  border: none;
  height: 1px;
  background: $black
  margin $s15 0