.blog
  display block
  position relative
  z-index 30
  padding-bottom 5.063rem
  margin-bottom $s47
  +mobile()
    max-width 460px
    mcenter()
    padding-bottom 3.438rem
    margin-bottom 7.563rem
  &--image
    height 201px
    display flex
    align-items center
    justify-content center
    overflow hidden

    +tablet()
      height: 162px;
    +custom-max(992px)
      height: auto

    img
      height 100%
      +mobile()
        height auto
        width 100%
  &--text
    padding: $s37 $s15 0
    +mobile()
      padding $s33 0
    h3
      position relative
      left -70px
      width calc(100% + 70px)
      margin-bottom $s28
      +mobile()
        position static
        width auto
    p
      margin-bottom $s22
  &--date
    display flex
    padding 0 $s15
    +mobile()
      padding 0
    li
      color $lemon-darker
      font-family $sl-font, $s-font, sans-serif
      display flex
      font-size: $f12
      font-weight: 500;
      margin-right $s35
      svg
        margin-right $s10
  &:after
    pseudo(block, absolute)
    background $lemon-dark
    top 101px
    bottom 0
    left -15px
    right -15px
    z-index -1
    height 0
    trans()
    +portrait()
      height calc(100% - 101px)
    +mobile()
      height calc(100% - 101px)
      left -15px
      right -15px
    +landscape()
      left -30px
      right -30px
  .link-more
    opacity 0
    +portrait()
      opacity 1
    +mobile()
      opacity 1
      right 5px
      bottom 38px
    &:after
      width 0
      +portrait()
        width 100%
      +mobile()
        width 100%
        bottom 0
        top auto
  &:hover
    .link-more
      opacity 1
      &:after
        width 100%
    &:after
      height calc(100% - 101px)
