.blogin-rubric
  display flex
  margin-bottom $s21
  +mobile()
    margin-bottom $s15
  li
    margin-right $s30
    color #868686
    +mobile()
      margin-right $s15
    a
      font-weight 700

.blogin-date
  display flex
  justify-content flex-end
  align-items center
  margin-bottom $s21
  +mobile()
    justify-content space-between
    flex-wrap wrap
    margin-bottom 53px
  li
    font-size $f12
    color #868686
    display flex
    font-family $sl-font, $s-font, sans-serif
    margin-left $s26
    padding-top $s1
    +mobile()
      margin-left 0
    svg
      margin-right 10px
      g
        fill #868686
    &:first-child
      padding-top 0
      margin-left 0
      font-size $f16
      font-family $m-font, $s-font, sans-serif
      +mobile()
        width 100%
        margin-bottom $s15

.blogin-image
  display flex
  align-items center
  justify-content center
  height 230px
  overflow hidden
  margin-bottom 70px
  +mobile()
    height 165px
    margin-bottom 60px
  img
    width 100%
    +mobile()
      width auto
      height 100%

.blogin-tags
  display flex
  align-items center
  margin-bottom 50px
  &--heading
    font-size: $f18
    line-height: 1.78;
    color $pink
    background $white
    margin-right $s30
    width 68px
    height 35px
    display flex
    align-items center
    justify-content center
    flex-shrink 0
    +mobile()
      margin-right 15px
  &--list
    display flex
    flex-direction row
    flex-wrap wrap
    li
      padding-left 0
      padding-right 3px
      position relative
      &:after
        content ','
        display block
        position absolute
        right 0
        bottom 0
        color $gray-lightdark
      &:last-child
        &:after
          display none

.blogin-author
  display flex
  background $white
  padding $s30 0
  margin-bottom 80px
  +portrait()
    flex-wrap: wrap;
  +mobile()
    flex-wrap: wrap;
    padding $s10 0 $s40
    position relative
    z-index 30
    margin-bottom 150px
    &:after
      pseudo(block, absolute)
      left -15px
      right -15px
      top 0
      bottom 0
      background $white
      z-index -1
  +landscape()
    flex-wrap nowrap
  &--heading
    font-size: $f14
    line-height: 1.64;
    color: #868686;
    padding 0 $s29 0 $s24
    display flex
    align-items center
    +mobile()
      padding 0
      margin-bottom $s10
      width 100%
  &--image
    width: 68px;
    height: 68px;
    overflow hidden
    display flex
    align-items center
    justify-content center
    flex-shrink 0
    img
      width 100%

  &--author
    padding 0 $s30
    display flex
    flex-wrap wrap
    align-items center
    flex-direction: column;
    justify-content: center;
    max-width: 337px;
    width: 100%;
    +mobile()
      padding 0 $s30
      max-width: calc(100% - 68px)

    &-name
      font-size: $f16
      line-height: 1.44;
      color: #3f3c41;
      width 100%
      margin-bottom 0
      +mobile()
        font-size $f14
    &-prof
      font-size: .875em
      line-height: 1.64;
      color: #868686;
      width 100%
      margin-bottom 0
      +mobile()
        font-size $f12

  &--share
    display flex
    padding: 0 $s29 0 $s24
    +tablet()
      padding 0
    +portrait()
      margin-top $s30
    +mobile()
      margin-top $s18
      padding 0
    +landscape()
      margin-top 0
    &-heading
      display flex
      align-items center
      +mobile()
        font-size $f16
      svg
        margin-left $s27
        +mobile()
          margin-left $s15

    &-list
      display flex
      flex-direction row
      align-items center
      padding $s6 $s22 0
      +portrait()
        padding: $s6 $s34 0;
      +mobile()
        padding-left $s15
        padding-right $s6
      li
        margin 0 $s9
        +mobile()
          margin 0 $s6
        a
          svg g
            trans()
            fill #b9b9b9
          &:hover
            svg g
              fill $pink