.blogin-rubric
  display flex
  margin-bottom $s21
  +mob()
    margin-bottom $s15
  li
    margin-right $s30
    color #868686
    +mob()
      margin-right $s15
    +retinanon()
      font-weight 300
    a
      font-weight 700
      +retinanon()
        font-weight 500

.blogin-date
  display flex
  justify-content flex-end
  align-items center
  margin-bottom $s21
  +mob()
    justify-content space-between
    flex-wrap wrap
    margin-bottom 3.313rem
  li
    font-size $f12
    color #868686
    display flex
    font-family $sl-font, $s-font, sans-serif
    margin-left $s26
    padding-top $s1
    +mob()
      margin-left 0
    +retinanon()
      font-weight 300
    svg
      margin-right $s10
      g
        fill #868686
    &:first-child
      padding-top 0
      margin-left 0
      font-size $f16
      font-family $m-font, $s-font, sans-serif
      +mob()
        width 100%
        margin-bottom $s15

.blogin-image
  display flex
  align-items center
  justify-content center
  height 230px
  overflow hidden
  margin-bottom 4.375rem
  +mob()
    height 165px
    margin-bottom 3.750rem
  +xxl()
    height 296px
    margin-bottom 5.625rem
  img
    width 100%
    +mob()
      width auto
      height 100%

.blogin-tags
  display flex
  align-items center
  margin-bottom $s50
  &--heading
    font-size: $f18
    line-height: 1.78;
    color $pink
    background $white
    margin-right $s30
    width 68px
    height 35px
    display flex
    align-items center
    justify-content center
    flex-shrink 0
    +mob()
      margin-right $s15
  &--list
    display flex
    flex-direction row
    flex-wrap wrap
    li
      padding-left 0
      padding-right $s3
      position relative
      &:after
        content ','
        display block
        position absolute
        right 0
        bottom 0
        color $gray-lightdark
      &:last-child
        &:after
          display none

.blogin-author
  display flex
  background $white
  padding $s30 0
  margin-bottom 5rem
  +port()
    flex-wrap: wrap;
  +mob()
    flex-wrap: wrap;
    padding $s10 0 $s40
    position relative
    z-index 30
    margin-bottom 9.375rem
    &:after
      pseudo(block, absolute)
      left -15px
      right -15px
      top 0
      bottom 0
      background $white
      z-index -1
  +land()
    flex-wrap nowrap

  &--heading
    font-size: $f14
    line-height: 1.64;
    color: #868686;
    padding 0 $s29 0 $s24
    display flex
    align-items center
    +mob()
      padding 0
      margin-bottom $s10
      width 100%
    +retinanon()
      font-weight 300
  &--image
    width: 68px;
    height: 68px;
    overflow hidden
    display flex
    align-items center
    justify-content center
    flex-shrink 0
    img
      width 100%

  &--author
    padding 0 $s30
    display flex
    flex-wrap wrap
    align-items center
    flex-direction: column;
    justify-content: center;
    max-width: 337px;
    width: 100%;
    +mob()
      padding 0 $s30
      max-width: calc(100% - 68px)

    &-name
      font-size: $f16
      line-height: 1.44;
      color: #3f3c41;
      width 100%
      margin-bottom 0
      +mob()
        font-size $f14
    &-prof
      font-size: .875em
      line-height: 1.64;
      color: #868686;
      width 100%
      margin-bottom 0
      +mob()
        font-size $f12

  &--share
    display flex
    padding: 0 $s29 0 $s24
    +tab()
      padding 0
    +port()
      margin-top $s30
    +mob()
      margin-top $s18
      padding 0
    +land()
      margin-top 0
    &-heading
      display flex
      align-items center
      +mob()
        font-size $f16
      +retinanon()
        font-weight 300
      svg
        margin-left $s27
        +mob()
          margin-left $s15

    &-list
      display flex
      flex-direction row
      align-items center
      padding $s6 $s22 0
      +port()
        padding: $s6 $s34 0;
      +mob()
        padding-left $s15
        padding-right $s6
      li
        margin 0 $s9
        +mob()
          margin 0 $s6
        a
          svg g
            trans()
            fill #b9b9b9
          &:hover
            svg g
              fill $pink