.blog
  display block
  position relative
  z-index 30
  padding-bottom 81px
  margin-bottom $s47
  +mobile()
    max-width 460px
    mcenter()
  &--image
    height 201px
    display flex
    align-items center
    justify-content center
    overflow hidden

    +tablet()
      height: 162px;
    +portrait()
      height: auto
    +mobile()
      height: auto
      padding: 0 $s15
    +landscape()
      padding 0 $s30

    img
      height 100%
      +mobile()
        height auto
        width 100%
  &--text
    padding: $s37 $s15 0
    +mobile()
      padding $s33 $s15
    +landscape()
      padding $s33 $s30
    h3
      position relative
      left -70px
      width calc(100% + 70px)
      margin-bottom $s28
      +mobile()
        width calc(100% + 25px)
        left -25px
      +landscape()
        left -60px
        width calc(100% + 60px)
    p
      margin-bottom $s22
  &--date
    display flex
    padding 0 $s15
    +landscape()
      padding 0 $s30
    li
      color $lemon-darker
      font-family $sl-font, $s-font, sans-serif
      display flex
      font-size: $f12
      font-weight: 500;
      margin-right $s35
      svg
        margin-right $s10
  &:after
    pseudo(block, absolute)
    background $lemon-dark
    top 101px
    bottom 0
    left -15px
    right -15px
    z-index -1
    height 0
    trans()
    +portrait()
      height calc(100% - 101px)
    +mobile()
      height calc(100% - 101px)
      left 0
      right 0
  .link-more
    opacity 0
    +portrait()
      opacity 1
    +mobile()
      opacity 1
    &:after
      width 0
      +portrait()
        width 100%
      +mobile()
        width 100%
  &:hover
    .link-more
      opacity 1
      &:after
        width 100%
    &:after
      height calc(100% - 101px)
