body
  +displays()
    .wrapper
      background $trans !important

.portfolio-color-yellow
  .portfolio--viewport
    background $yellow

.portfolio-color-gray-dark
  .portfolio--viewport
    background $gray-dark

.portfolio-color-green
  .portfolio--viewport
    background $green

.portfolio-color-purple
  .portfolio--viewport
    background $purple

.body-purple
  .wrapper
    background $purple
  .panel-icon li
    a
      svg g
        fill $purple
      &:hover
        svg g
          fill $pink
  .link-logo
    svg g
      fill $purple
    &:hover
      svg g
        fill $pink
  .menu li a
    color $purple
    &:hover
      color $pink
  .footer-copyright
    color $purple
  .link-arrow
    svg g
      fill $purple
    &:hover
      svg g
        fill $pink
  +mobile()
    nav
      background $purple
    .link-logo
      svg g
        fill $white

  .menu-social li a
    svg g
      fill $purple
    &:hover
      svg g
        fill $pink

.body-gray-darker
  .wrapper
    background $gray-darker
  .panel-icon li
    a
      svg g
        fill $gray-darker
      &:hover
        svg g
          fill $pink
  .link-logo
    svg g
      fill $gray-darker
    &:hover
      svg g
        fill $pink
  .menu li a
    color $gray-darker
    &:hover
      color $pink
  .footer-copyright
    color $gray-darker
  .link-arrow
    svg g
      fill $gray-darker
    &:hover
      svg g
        fill $pink
  +mobile()
    nav
      background $gray-darker
    .link-logo
      svg g
        fill $white

  .menu-social li a
    svg g
      fill $gray-darker
    &:hover
      svg g
        fill $pink

.body-malina
  .wrapper
    background $malina
  .panel-icon li
    a
      svg g
        fill $malina
      &:hover
        svg g
          fill $pink
  .link-logo
    svg g
      fill $malina
    &:hover
      svg g
        fill $pink
  .menu li a
    color $malina
    &:hover
      color $pink
  .footer-copyright
    color $malina
  .link-arrow
    svg g
      fill $malina
    &:hover
      svg g
        fill $pink
  +mobile()
    nav
      background $malina
    .link-logo
      svg g
        fill $white

  .menu-social li a
    svg g
      fill $malina
    &:hover
      svg g
        fill $pink

.body-crimson
  .wrapper
    background $crimson
  .panel-icon li
    a
      svg g
        fill $crimson
      &:hover
        svg g
          fill $pink
  .link-logo
    svg g
      fill $crimson
    &:hover
      svg g
        fill $pink
  .menu li a
    color $crimson
    &:hover
      color $pink
  .footer-copyright
    color $crimson
  .link-arrow
    svg g
      fill $crimson
    &:hover
      svg g
        fill $pink
  +mobile()
    nav
      background $crimson
    .link-logo
      svg g
        fill $white

  .menu-social li a
    svg g
      fill $crimson
    &:hover
      svg g
        fill $pink

.body-lemon
  .wrapper
    background $lemon
  .panel-icon li
    a
      svg g
        fill $lemon
      &:hover
        svg g
          fill $pink
  .link-logo
    svg g
      fill $lemon
    &:hover
      svg g
        fill $pink
  .menu li a
    color $lemon
    &:hover
      color $pink
  .footer-copyright
    color $lemon
  .link-arrow
    svg g
      fill $lemon
    &:hover
      svg g
        fill $pink
  +mobile()
    nav
      background $lemon
    .link-logo
      svg g
        fill $white

  .menu-social li a
    svg g
      fill $lemon
    &:hover
      svg g
        fill $pink

  .blog:after
    background $lemon-dark

  .blog--date li
    color: $lemon-darker
    svg g
      fill $lemon-darker

.body-gray-light
  .wrapper
    background $gray-light
  .panel-icon li
    a
      svg g
        fill $gray-light
      &:hover
        svg g
          fill $pink
  .link-logo
    svg g
      fill $gray-light
    &:hover
      svg g
        fill $pink
  .menu li a
    color $gray-light
    &:hover
      color $pink
  .footer-copyright
    color $gray-light
  .link-arrow
    svg g
      fill $gray-light
    &:hover
      svg g
        fill $pink
  +mobile()
    nav
      background $gray-light
    .link-logo
      svg g
        fill $white

  .menu-social li a
    svg g
      fill $gray-light
    &:hover
      svg g
        fill $pink

  .blog:after
    background $gray-lightdark

  .blog--date li
    color: $gray-lighter
    svg g
      fill $gray-lighter

//
.body-gray-lightest
  .wrapper
    background $gray-lightest
  .panel-icon li
    a
      svg g
        fill $gray-light
      &:hover
        svg g
          fill $pink
  .link-logo
    svg g
      fill $gray-light
    &:hover
      svg g
        fill $pink
  .menu li a
    color $gray-light
    &:hover
      color $pink
  .footer-copyright
    color $gray-light
  .link-arrow
    svg g
      fill $gray-light
    &:hover
      svg g
        fill $pink
  +mobile()
    nav
      background $gray-lightest
    .link-logo
      svg g
        fill $white

  .menu-social li a
    svg g
      fill $gray-light
    &:hover
      svg g
        fill $pink

  .breadcrumbs li
    &:after
      background $gray-lightdark
    a
      color $gray-lightdark

  .blog:after
    background $gray-lightdark

  .blog--date li
    color: $gray-lighter
    svg g
      fill $gray-lighter

//
.body-purple-darker
  .wrapper
    background $purple-darker
  .panel-icon li
    a
      svg g
        fill $purple-darker
      &:hover
        svg g
          fill $pink
  .link-logo
    svg g
      fill $purple-darker
    &:hover
      svg g
        fill $pink
  .menu li a
    color $purple-darker
    &:hover
      color $pink
  .footer-copyright
    color $purple-darker
  .link-arrow
    svg g
      fill $purple-darker
    &:hover
      svg g
        fill $pink
  +mobile()
    nav
      background $purple-darker
    .link-logo
      svg g
        fill $white

  .menu-social li a
    svg g
      fill $purple-darker
    &:hover
      svg g
        fill $pink