@import "colors/portfolio-color"
@import "colors/body-crimson"
@import "colors/body-gray-darker"
@import "colors/body-gray-light"
@import "colors/body-gray-lightest"
@import "colors/body-lemon"
@import "colors/body-malina"
@import "colors/body-purple"
@import "colors/body-purple-darker"

body
  +displays()
    .wrapper
      background $trans !important