.color-purple{}

.portfolio-color-yellow
  .portfolio--viewport
    background $yellow

.portfolio-color-gray-dark
  .portfolio--viewport
    background $gray-dark

.body-purple
  .wrapper
    background $purple