.contacts
  background $purple-darkest
  padding-top 4.563rem
  +land()
    padding-right $s15
    padding-left $s15
  +mob()
    position relative
    z-index 30
    padding-bottom: 5.125rem
    &:after
      pseudo(block, absolute)
      posn(0px,-15px,0px,-15px)
      background $purple-darkest
      z-index -1
  +land()
    padding-bottom $s13
  +xxl()
    padding-top: 6.438rem
.address
  display flex
  justify-content space-between
  +mob()
    flex-wrap wrap
    padding-left $s5
  .address-col
    padding 0 $s25
    +port()
      padding 0 $s20
    a
      color $white
      &:hover
        color $pink

.icon-string
  display block
  position relative
  font-size: $f18
  line-height: 1.67;
  span
    position absolute
    left -30px
    top 2px
  +port()
    font-size $f14
  +xxl()
    left: -37px;
    top: 4px;
  +retinanon()
    font-weight 300

.contactus
  padding 3.250rem $s25
  min-height 460px
  +port()
    padding 3.250rem $s20
  +mob()
    padding $s42 0 $s20

  h4
    color: #541b9d;
    font-size $f32
    letter-spacing: 3.8px;
    margin-bottom $s20

.contactus-form
  position relative
  &--step
    position absolute
    top 0
    left 0
    right 0
    trans()
    img
      display block
      margin 0 auto $s30
    h3
      font-size 1.5em
      font-weight 500
      text-align center
      color: #541b9d;
      +mob()
        font-size: 1.5em;

  #step2
    visibility hidden
    z-index 0
    opacity 0
    svg
      display block
      margin 0 auto $s30
      polygon, path
        fill: #541b9d;


  &--close
    width 25px
    height 25px
    position absolute
    right 30px
    top 30px
    cursor pointer

    visibility hidden
    z-index 0
    opacity 0

    trans()
    &:before, &:after
      pseudo(block, absolute)
      background $white
      width 100%
      height 2px
    &:after
      transform rotate(-45deg)
    &:before
      transform rotate(45deg)

.contactus-form.with-success
  .contactus-form--step#step1
    visibility hidden
    z-index 0
    opacity 0
  .contactus-form--step#step2, .contactus-form--close
    visibility visible
    z-index 300
    opacity 1


