body.msie
  .link-logo
    max-height 22px
    svg
      +dis()
        max-height 22px

  .grid
    +cmin(992px)
      flex-direction: row;
      max-height: unset
      justify-content space-around

  .grid-item
    +cmin(992px)
      &:nth-child(even)
        order 1
      &:nth-child(odd)
        order 1
