.grid
  justify-content space-around
  +displays()
    flex-direction: column;
    justify-content flex-start
    max-height: 103vw;

  +tablet()
    flex-direction: column;
    max-height: 103vw;
    justify-content flex-start



.grid-item
  +displays()
    &:nth-child(even)
      order 2
    &:nth-child(odd)
      order 1
  +tablet()
    &:nth-child(even)
      order 2
    &:nth-child(odd)
      order 1
