.grid
  justify-content space-around
  +displays()
    flex-direction: column;
    justify-content flex-start
    max-height: 104vw;

  +tablet()
    flex-direction: column;
    max-height: 104vw;
    justify-content flex-start

.grid.grid-small
  +displays()
    max-height 52vw
  +tablet()
    max-height 52vw



.grid-item
  +displays()
    &:nth-child(even)
      order 2
    &:nth-child(odd)
      order 1
  +tablet()
    &:nth-child(even)
      order 2
    &:nth-child(odd)
      order 1
