.link-hire
  height 100%
  background $pink-dark;
  box-shadow: 0 8px 50px 0 $pink-dark;
  min-height 400px
  margin-top $s20
  cursor pointer
  position relative
  trans()
  +mobile()
    height: 255px;
    min-height unset
    margin: $s10 $s15
  &:hover
    background #C20C63
    box-shadow: 0 8px 20px 0 #C20C63;
    h2
      svg
        transform translate3d(50px, 0, 0)
        +mobile()
          transform translate3d(10px, 0, 0)
  &--text
    p
      font-size: 1.75em
      line-height: 1.21;
      text-align: center
      color: $pink-place
      margin-bottom $s5
      +mobile()
        font-size $f20
    h2
      font-size: 5em
      font-weight: 500;
      text-align center
      display: flex;
      align-items: center;
      color $white
      margin-bottom: $s40
      +mobile()
        flex-wrap wrap
        justify-content center
        font-size $f46
      svg
        margin-left $s33
        position relative
        top 5px
        trans()
        +mobile()
          width 35px
    h3
      font-size 1.75em
      font-weight 500
      text-align center
      +mobile()
        font-size: 1.25em;
  #step3
    svg
      display block
      margin 0 auto $s30
      polygon, path
        fill $pink-place
  &--close
    width 25px
    height 25px
    position absolute
    right 30px
    top 18px
    cursor pointer

    visibility hidden
    z-index 0
    opacity 0

    trans()

    +mobile()
      right 15px
      top 15px


    &:before, &:after
      pseudo(block, absolute)
      background $white
      width 100%
      height 2px
      top 12px
    &:after
      transform rotate(-45deg)
    &:before
      transform rotate(45deg)

  &--step
    position absolute
    left 0
    right 0
    bottom 0
    top 0
    display flex
    justify-content center
    align-items center
    padding-left $s15
    padding-right $s15

    trans()
    visibility hidden
    z-index 0
    opacity 0

  &--step#step1
    visibility visible
    z-index 300
    opacity 1

.link-hire.with-form
  cursor default
  +mobile()
    height 475px
    min-height unset
  &:hover
    background $pink-dark
    box-shadow: 0 8px 50px 0 $pink-dark;
  .link-hire--step#step1
    visibility hidden
    z-index 0
    opacity 0
  .link-hire--step#step2, .link-hire--close
    visibility visible
    z-index 300
    opacity 1

.link-hire.with-success
  cursor default
  &:hover
    background $pink-dark
    box-shadow: 0 8px 50px 0 $pink-dark;
  .link-hire--step#step1, .link-hire--step#step2
    visibility hidden
    z-index 0
    opacity 0
  .link-hire--step#step3, .link-hire--close
    visibility visible
    z-index 300
    opacity 1