.jumbotron
  padding 63px 0 53px
  display block
  position relative
  z-index 10
  min-height 500px
  +mobile()
    min-height unset
  &--viewport
    position absolute
    top 0
    bottom 0
    left 43%
    right: 4.6%;
    background $purple-dark
    z-index -1
    trans()
    +portrait()
      left 4.6%
    +mobile()
      left 0
      right 0
  &--image
    position relative
    left: -13.4%;
    top 0
    trans()
    +tablet()
      max-width: 585px
    +portrait()
      left 0
      mcenter()
      display block
      margin-bottom $s30
    +mobile()
      max-width: 520px;
      width 100%
      left 0
      mcenter()
      display block
  .link-inner
    +portrait()
      display flex
      justify-content center
    +mobile()
      margin-left 15px
      margin-top $s18
  &:hover
    .jumbotron--image
        transform translateY(-20px)
    .jumbotron--viewport
      left 0
      right 0
      top -56px
      bottom -16px
      +mobile()
        top -46px
        bottom -6px
    .link-inner
      letter-spacing 3px