.portfolio.jumbotron
  height 500px
  +portrait()
    padding-top 3.750rem
  +mobile()
    height 345px
    padding-top $s46
  +landscape()
    padding-top: $s37
    height: 436px;
  .portfolio--back
    top 0
    bottom 0
    left: 39.6vw;
    right 4.2vw
    +portrait()
      left 4.2vw
    +mobile()
      bottom 0
      left 0
      right 0
      top 0
  .portfolio--back
    background $purple-dark
  .portfolio--front-image
    top: 12.5%;
    left: -10.4%;
    width 599px
    max-width unset
    +custom-max(991px)
      position static
      width 100%
    +mobile()
      max-width: 345px;
      margin: 0 auto;
      display: block;
    +landscape()
      max-width: 500px;

  .portfolio--front-description
    height 500px
    +portrait()
      height 100px
    +mobile()
      height: auto
      padding-top: $s15
    .link-inner
      position absolute
      left 0
      bottom: 53px
      +mobile()
        position static

+custom-max(991px)
  .portfolio.jumbotron
    .col-left
      order 2
    .col-right
      order 1

+mobile()
  .portfolio.jumbotron.active
    .portfolio--back
      bottom 0
      left 0
      right 0
      top 0