.panel-icon
  position fixed
  left 0
  top 46.87%
  padding-left 15px
  display flex
  flex-direction column
  +mobile()
    display none
  li
    margin-bottom 25px
    a
      display block
      svg
        g
          fill $purple
          trans()
      &:hover
        svg g
          fill $pink

.panel-icon-right
  left: auto
  right 0
  padding-left 0
  padding-right 15px