.portfolio
  position relative
  z-index 30
  height 560px
  margin-bottom 100px
  +cmax(991px)
    .col-left
      order 2
    .col-right
      order 1
  +mob()
    margin-bottom 3.563rem
  +tab()
    margin-bottom 80px
  +xxl()
    height: 580px
    margin-bottom 128px
  &--front
    &-link
      display block
    &-image
      position: absolute;
      top: 0
      left: 3.6%;
      max-width 457px
      width 100%
      +port()
        top: -60px;
      +mob()
        top: -40px;
        width: 320px
        max-width: unset;
        left: calc(50% - 160px);
        right: calc(50% - 160px);
      +land()
        width: 400px;
        left: calc(50% - 200px);
        right: calc(50% - 200px);
      +xxl()
        width 100%
        max-width: 508px;
        left -14px
        top -7px
    &-description
      padding-top: 136px;
      position relative
      height 560px
      +cmax(991px)
        padding-top 0
        height auto
      h3
        margin-bottom $s43
        +port()
          height: 66px;
        +mob()
          height: 90px;
          font-size $f24
          line-height: 1.25;
        +land()
          height 60px
        +xxl()
          font-size $f30
          letter-spacing 1px
          margin-bottom $s50

      &--marker
        color $white
        font-size: $f20
        font-weight: 500;
        line-height: 1.15;
        font-family $sl-font, sans-serif
        position absolute
        bottom: 125px;
        left 0
        +cmax(991px)
          bottom: -400px;
          right 0
          left auto
        +mob()
          bottom: -350px;
        +dis()
          font-size $f22
          bottom 122px
        +retinanon()
          font-weight 400

  &--back
    position absolute
    top 16%
    left 4.2vw
    right 4.2vw
    bottom 16%
    z-index -1
    overflow hidden
    trans()
    +xxl()
      left: 8.725vw;
      right: 8.725vw;
    +port()
      top: 22%;
      bottom: 10%;
    +mob()
      left 0
      right 0
      top 29%
      bottom: 13.85%;
    &-viewport
      width 1072px
      margin 0 auto
      position relative
      height 100%
      &--image
        position absolute
        top calc(50% - 280px)
        bottom calc(50% - 280px)
        left 6%
        +xxl()
          left -2%
          height 580px
          top calc(50% - 290px)
          bottom calc(50% - 290px)
  .link-inner-small
    +port()
      position: absolute;
      bottom: -420px;
    +mob()
      position: absolute;
      bottom: -370px;

.portfolio.portfolio-left
  .col-left
    order 2
  .col-right
    order 1
  .portfolio--back-viewport--image
    left auto
    right 6%
    +xxl()
      right: 2%;
  .portfolio--front-image
    left: 17.5%
    +mob()
      left: calc(50% - 160px);
    +land()
      left: calc(50% - 200px);
    +xxl()
      left: 20.5%;

.portfolio.active
  .portfolio--back
    top: 0
    bottom: 0
    left 1.6vw
    right 1.6vw

    //
    //max-width 100%
    //

    +mob()
      left 0
      right 0
      top 29%
      bottom: 13.85%;
    +port()
      top: 22%;
      bottom: 10%;
      left 4.2vw
      right 4.2vw
    +xxl()
      left 3.1vw
      right 3.1vw
