.portfolio
  position relative
  z-index 30
  height 560px
  margin-bottom 100px
  +custom-max(991px)
    .col-left
      order 2
    .col-right
      order 1
  +mobile()
    margin-bottom 3.563rem
  &--front
    &-link
      display block
    &-image
      position: absolute;
      top: 0
      left: 3.6%;
      max-width 457px
      width 100%
      +portrait()
        top: -60px;
      +mobile()
        top: -40px;
        width: 320px
        max-width: unset;
        left: calc(50% - 160px);
        right: calc(50% - 160px);
      +landscape()
        width: 400px;
        left: calc(50% - 200px);
        right: calc(50% - 200px);
    &-description
      padding-top: 125px;
      position relative
      height 560px
      +custom-max(991px)
        padding-top 0
        height auto
      h3
        margin-bottom $s43
        +portrait()
          height: 66px;
        +mobile()
          height: 90px;
          font-size $s24
          line-height: 1.25;
        +landscape()
          height 60px

      &--marker
        color $white
        font-size: $s20
        font-weight: 500;
        line-height: 1.15;
        font-family $sl-font, sans-serif
        position absolute
        bottom: 125px;
        left 0
        +custom-max(991px)
          bottom: -400px;
          right 0
          left auto
        +mobile()
          bottom: -350px;

  &--back
    position absolute
    top 16%
    left 4.2vw
    right 4.2vw
    bottom 16%
    z-index -1
    overflow hidden
    trans()
    +portrait()
      top: 22%;
      bottom: 10%;
    +mobile()
      left 0
      right 0
      top 29%
      bottom: 13.85%;
    &-viewport
      width 1072px
      margin 0 auto
      position relative
      height 100%
      &--image
        position absolute
        top calc(50% - 280px)
        bottom calc(50% - 280px)
        left 6%
  .link-inner-small
    +portrait()
      position: absolute;
      bottom: -420px;
    +mobile()
      position: absolute;
      bottom: -370px;

.portfolio.portfolio-left
  .col-left
    order 2
  .col-right
    order 1
  .portfolio--back-viewport--image
    left auto
    right 6%
  .portfolio--front-image
    left: 17.5%
    +mobile()
      left: calc(50% - 160px);
    +landscape()
      left: calc(50% - 200px);

.portfolio.active
  .portfolio--back
    top: 0
    bottom: 0
    left 1.6vw
    right 1.6vw
    +mobile()
      left 0
      right 0
      top 29%
      bottom: 13.85%;
    +portrait()
      top: 22%;
      bottom: 10%;
      left 4.2vw
      right 4.2vw
  //.link-inner
  //  color $pink-hover
  //  svg
  //    margin-left 2.25rem
  //    g
  //      fill $pink-hover
