.service
  margin-bottom 154px
  position relative
  z-index 20
  &:last-child
    margin-bottom: 80px;
  +mobile()
    margin-bottom 130px
  h3
    +mobile()
      font-size $s30
      line-height 1.13
      margin-bottom $s35
  &--image
    display block
    margin 11px auto
    +mobile()
      margin-bottom 50px
      margin-top 0
  &--capabilities
    padding-top 8px
    +mobile()
      padding-top 0
    ul
      display flex
      flex-wrap wrap
      li
        position relative
        padding-left $s29
        padding-right $s15
        margin-bottom $s16
        flex 1 1 50%
        max-width 50%
        +mobile()
          flex 1 1 100%
          max-width 100%
        &:before
          pseudo(block, absolute)
          width 10px
          height 10px
          border-radius 50%
          top 6px
          left 0
          background $pink-light

  &--viewport
    position absolute
    posn(-85px,4.55%,-68px,4.55%)
    background $malina-dark
    z-index -1
    height 0
    trans()

  &:hover
    .service--viewport
      height calc(100% + 85px + 68px)
      +mobile()
        height 0