.service
  margin-bottom 9.625rem
  position relative
  z-index 20
  &:last-child
    margin-bottom: 5rem
  +mob()
    margin-bottom 8.125rem
  +xxl()
    margin-bottom 10.625em
  h3
    +mob()
      font-size $f30
      line-height 1.13
      margin-bottom $s35
  &--image
    display block
    margin $s11 auto
    +mob()
      margin-bottom $s50
      margin-top 0
    +xxl()
      max-width 148px
      width 100%

  &--capabilities
    padding-top $s8
    +mob()
      padding-top 0
    ul
      display flex
      flex-wrap wrap
      li
        position relative
        padding-left $s29
        padding-right $s15
        margin-bottom $s16
        flex 1 1 50%
        max-width 50%
        +mob()
          flex 1 1 100%
          max-width 100%
        &:before
          pseudo(block, absolute)
          width 10px
          height 10px
          border-radius 50%
          top 6px
          left 0
          background $pink-light

  &--viewport
    position absolute
    posn(-85px,4.55%,-68px,4.55%)
    background $malina-dark
    z-index -1
    height 0
    trans()