.service
  margin-bottom 154px
  position relative
  z-index 20
  &:last-child
    margin-bottom: 80px;
  +mobile()
    margin-bottom 100px
  &--image
    display block
    margin 11px auto
    +mobile()
      margin-bottom 50px
  &--capabilities
    padding-top 8px
    ul
      display flex
      flex-wrap wrap
      li
        position relative
        padding-left $s29
        padding-right $s15
        margin-bottom $s16
        flex 1 1 50%
        max-width 50%
        &:before
          pseudo(block, absolute)
          width 10px
          height 10px
          border-radius 50%
          top 6px
          left 0
          background $pink-light

  &--viewport
    position absolute
    posn(-85px,4.55%,-68px,4.55%)
    background $malina-dark
    z-index -1
    //
    //opacity 0
    height 0
    //
    trans()

  &:hover
    .service--viewport
      //
      //opacity 1
      height calc(100% + 85px + 68px)
      //
      +mobile()
        //
        //opacity 0
        height 0