.team
  position relative
  padding-bottom 174px
  margin-bottom 62px
  +mobile()
    padding-left: 15px;
    padding-right: 15px;
  &--image
    height 426px
    overflow hidden
    display flex
    justify-content center
    align-items center
    +custom-min(1920px)
      align-items flex-start
      img
        min-width 100%
  &--description
    background $trans
    trans()
    position absolute
    bottom 0
    left -20px
    right -20px
    padding: 37px 30px 61px
    z-index 30

    &:after
      pseudo(block, absolute)
      left 0
      right 0
      top 0
      bottom 0
      background $crimson-dark
      z-index -1
      trans()
      height 0

    +portrait()
      background $crimson-dark
    +mobile()
      background $crimson-dark
      left 0
      right 0
      padding-left 15px
      padding-right 15px
    +landscape()
      padding-left 30px
      padding-right 30px
    h3
      line-height: 1.13;
      font-size $f30
      margin-bottom $s22
      position relative
      left -70px
      width calc(100% + 70px)
      +mobile()
        left -25px
        width calc(100% + 25px)
      +landscape()
        left -70px
        width calc(100% + 70px)
    &-text
      opacity 0
      trans()
      +portrait()
        opacity 1
      +mobile()
        opacity 1
      p
        margin-bottom: $s27
    &-prof
      color $white
      line-height: 1.44;
      font-size 1em

  &:hover
    .team--description-text
      opacity 1
    .team--description
      &:after
        height 100%
    //  background $crimson-dark

