.team
  position relative
  padding-bottom 10.875rem
  margin-bottom 3.875rem
  +mobile()
    max-width 460px
    mcenter()
  &--image
    height 426px
    overflow hidden
    display flex
    justify-content center
    align-items center
  &--description
    background $trans
    trans()
    position absolute
    bottom 0
    left -20px
    right -20px
    padding: $s37 $s30 61px
    z-index 30

    &:after
      pseudo(block, absolute)
      left 0
      right 0
      top 0
      bottom 0
      background $crimson-dark
      z-index -1
      trans()
      height 0

    +portrait()
      background $crimson-dark
    +mobile()
      background $crimson-dark
      left -15px
      right -15px
      padding-left $s15
      padding-right $s15
      padding-bottom $s25
      display flex
      flex-wrap wrap
    +landscape()
      padding-left $s30
      padding-right $s30
    h3
      line-height: 1.13;
      font-size $f30
      margin-bottom $s22
      position relative
      left -70px
      width calc(100% + 70px)
      +mobile()
        position static
        width 100%
        margin-bottom $s12
    &-text
      opacity 0
      trans()
      +portrait()
        opacity 1
      +mobile()
        opacity 1
        order 2
        width 100%
      p
        margin-bottom: $s27
    &-prof
      color $white
      line-height: 1.44;
      font-size $f16
      +mobile()
        color #ff7b7b
        margin-bottom $s37
        width 100%

  &:hover
    .team--description-text
      opacity 1
    .team--description
      &:after
        height 100%