@import '../../utilities/vars'
@import '../../utilities/mixins'

.breadcrumbs
  df(row)
  margin-bottom $s15
  li
    position relative
    padding-right $s8
    margin-right $s8
    &:after
      pseudo(block, absolute)
      right 0
      top 3px
      height 15px
      width 1px
      background $white
      opacity .5
      transform rotate(30deg)
    &:last-child
      &:after
        display none

    a
      display inline-block
      color $white
      opacity .5
      font-size .875em
      &:hover
        opacity 1
      +retinanon()
        font-weight 300
