@import "../../utilities/vars"
@import "../../utilities/mixins"

footer

  .menu
    justify-content center
    padding 61px 0 44px
    li
      &:last-child
        margin-right $s24
      a
        font-size $s20
        font-weight 700


.footer-copyright
  color $purple
  text-align center
  margin-bottom $s10