@import '../../utilities/vars'
@import '../../utilities/mixins'

header {}

.header-index
  padding-top 103px
  margin-bottom 194px
  +mobile()
    padding-top 121px
    margin-bottom: 130px;