@import '../../utilities/vars'
@import '../../utilities/mixins'

header
  position relative
  z-index 40

.header-index
  padding-top 6.438rem
  margin-bottom 12.125rem
  +mob()
    padding-top 4.375rem
    margin-bottom: 8.125rem
  +xxl()
    padding-top 6.75rem
    margin-bottom 243px

.header-regular
  padding $s32 $s38
  min-height 332px
  +mob()
    min-height unset
    padding 0 0 $s32
  +xxl()
    min-height 425px
  h1
    text-transform uppercase
    letter-spacing: 10px;
    text-align center
    margin-top 3.250rem
    margin-bottom 0
    line-height 1.3
    +mob()
      margin-top $s20
    +xxl()
      font-size 3.750em
      margin-top 4.188rem
      letter-spacing 12px
      margin-bottom $s22
  p
    text-align center
    font-size $f14
    margin-bottom $s15
    +xxl()
      line-height: 1.5;
      font-size $f16

.header-blogin
  min-height 275px
  +mob()
    min-height unset
  h1
    color $gray-lightdark
    font-size: $f24
    letter-spacing: 3.4px;
    font-weight 700
    margin-top: 5.813rem
    line-height: 1.42;
    +mob()
      margin-top $s30
      font-size $f20
      text-align left
      line-height: 1.6;
      margin-bottom $s10

.header-contacts
  min-height 258px
  +mob()
    min-height auto
    h1
      margin-bottom $s30

.header-blog
  +xxl()
    min-height 376px
