@import '../../utilities/vars'
@import '../../utilities/mixins'

.pagination
  df(row)
  justify-content center
  margin 0 auto $s49
  li
    margin 0 $s15
    a
      display inline-block
      color $white
      font-size $f18
      font-family $sl-font, $s-font, sans-serif
      padding $s5 0 $s8
      position relative
      &:after
        pseudo(block, absolute)
        height 3px
        bottom 0
        left 0
        right 0
        background $pink-darker
        width 0
        trans()
      &:hover
        color $pink
        &:after
          width 100%

    .arrow
      df(row)
      justify-content center
      height 100%
      padding $s3 0
      &:hover
        opacity .5
      &:after
        display none
    .active
      color #868686
      cursor default
      pointer-events: none;