@import '../../utilities/vars'
@import '../../utilities/mixins'

section
  margin-bottom 227px
  +mobile()
    margin-bottom: 130px;

article {}

aside {}

main
  padding 50px 50px 0 50px
  position relative
  overflow-y hidden
  overflow-x hidden
  height 100%
  z-index 0
  +mobile()
    padding 0

address {}

canvas
  z-index: 1; position: absolute; top:0px; left: 0px;

.wrapper
  position relative
  z-index 3
  padding-bottom 0
  background transparent
  margin-bottom 0

.content
  +custom-min(1920px)
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;


.section-last
  margin-bottom 0
  padding-bottom 83px
