@import '../../utilities/vars'
@import '../../utilities/mixins'

section
  padding-bottom 227px
  +mobile()
    padding-bottom: 130px;

article
  img
    width 100%
    margin-bottom $s30
  iframe
    width 100%
    margin-bottom $s30
    height 400px
    +mobile()
      height 300px
  p
    line-height: 1.63;
    color: $gray-lightdark
    margin-bottom $s26
  a
    display inline-block
    border-bottom 2px solid $pink
    line-height 1.2
    font-weight 700
  ul, ol
    display flex
    flex-flow wrap column
    padding $s3 0
    margin-bottom 80px
    li
      position relative
      padding-left $s34
      padding-right $s15
      margin-bottom $s6
      color $gray-lightdark
      line-height: 1.63;
      left 0

      &:before
        position absolute
        display block
        left 0

      ul, ol
        margin $s4 0 0
        padding-bottom 0
        li
          &:last-child
            margin-bottom 0

  ul
    li
      &:before
        content ''
        width 14px
        height 2px
        top 10px
        background $pink-light
  ol
    counter-reset: item
    li
      &:before
        top 0
        content: counter(item) ". ";
        counter-increment: item;
        color: $pink-light
        font-family $sl-font, $s-font, sans-serif

main
  padding $s50 $s50 0 $s50
  position relative
  overflow-y hidden
  overflow-x hidden
  height 100%
  z-index 0
  +mobile()
    padding $s33 0 0

canvas
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom 0
  right 0
  display: none
  +displays()
    display block

.wrapper
  position relative
  z-index 3
  padding-bottom 0
  background transparent
  margin-bottom 0


.content
  +custom-min(1920px)
    mcenter()
    max-width: 1920px;

.section-last
  padding-bottom 83px

.section-portfolio
  padding-bottom 103px

.section-blog
  padding-bottom 8px

.section-filter
  padding-bottom 153px
  +mobile()
    padding-bottom: 110px
