include ../utilities/_mixins

doctype html

html

    include ../partials/_head

    body#pageup.body-purple-darker

        include ../partials/preloaders/_preloader8
        include ../partials/_navigation

        main

            #inner.wrapper

                .content
                    block content

            block canvas

            include ../partials/_hire

            include ../partials/_footer

        include ../partials/_icons