//- layouts/layout.pug
extend layouts/_layout4.pug

block title
    | VOLTA - Services


block canvas
    //canvas#volta(data-color='7521E1')


block content

    include partials/headers/_header-about

    section.section-last
        .container-fluid
            .row.justify-content-center
                .col-lg-10
                    .row.justify-content-around
                        .col-lg-5.col-sm-8
                            .team
                                .team--image
                                    img(src='img/team/team1.png' title='')
                                .team--description
                                    .team--description-text
                                        p Живые фото из Гарри Поттера теперь существуют! Гари Гари, Потер шмотер И теперь с права не трое, но важно ли это?
                                    h3 Отари Арутюнян
                                    .team--description-prof Директор по развитию / Партнер
                        .col-lg-5.col-sm-8
                            .team
                                .team--image
                                    img(src='img/team/team2.png' title='')
                                .team--description
                                    .team--description-text
                                        p Я не угрюмый, а задумчивый. Однажды в детстве я задумался и дошел до школы с мусорным ведром в руке
                                    h3 Георгий Деев
                                    .team--description-prof Директор по развитию / Партнер
                        .col-lg-5.col-sm-8
                            .team
                                .team--image
                                    img(src='img/team/team3.png' title='')
                                .team--description
                                    .team--description-text
                                        p Уверена в том, что позитивное мышление формирует мир, и в том, что нужно пить много жидкости
                                    h3 Отари Арутюнян
                                    .team--description-prof Управляющий партнер
                        .col-lg-5.col-sm-8
                            .team
                                .team--image
                                    img(src='img/team/team3.png' title='')
                                .team--description
                                    .team--description-text
                                        p Уверена в том, что позитивное мышление формирует мир, и в том, что нужно пить много жидкости
                                    h3 Отари Арутюнян
                                    .team--description-prof Управляющий партнер
                        .col-lg-5.col-sm-8
                            .team
                                .team--image
                                    img(src='img/team/team1.png' title='')
                                .team--description
                                    .team--description-text
                                        p Живые фото из Гарри Поттера теперь существуют! Гари Гари, Потер шмотер И теперь с права не трое, но важно ли это?
                                    h3 Отари Арутюнян
                                    .team--description-prof Директор по развитию / Партнер
                        .col-lg-5.col-sm-8
                            .team
                                .team--image
                                    img(src='img/team/team2.png' title='')
                                .team--description
                                    .team--description-text
                                        p Я не угрюмый, а задумчивый. Однажды в детстве я задумался и дошел до школы с мусорным ведром в руке
                                    h3 Георгий Деев
                                    .team--description-prof Директор по развитию / Партнер
                        .col-lg-5.col-sm-8
                            .team
                                .team--image
                                    img(src='img/team/team3.png' title='')
                                .team--description
                                    .team--description-text
                                        p Уверена в том, что позитивное мышление формирует мир, и в том, что нужно пить много жидкости
                                    h3 Отари Арутюнян
                                    .team--description-prof Управляющий партнер
                        .col-lg-5.col-sm-8
                            .team
                                .team--image
                                    img(src='img/team/team3.png' title='')
                                .team--description
                                    .team--description-text
                                        p Уверена в том, что позитивное мышление формирует мир, и в том, что нужно пить много жидкости
                                    h3 Отари Арутюнян
                                    .team--description-prof Управляющий партнер