//- layouts/layout.pug
extend layouts/_layout1.pug

block title
    | VOLTA

block canvas
    canvas#volta(data-color='7521E1')

block content

    include partials/headers/_header-index

    section
        .container
            .row.justify-content-center
                .col-md-10.col-lg-4
                    h2 Services
                    .slider-counter 1/4
                .col-md-10.col-lg-6
                    .slider.slider-full
                        div
                            .slide
                                h3 Social Media Marketing
                                p Google Adwords, Google Analytics, Google SEO Tools, да и каждый последующий сервис управления рекламой в интернете — совершенно занудная штука, с которой способен подружиться только дотошный технарь. Но и здесь есть место для творчества - мы называем это техническим креативом.
                        div
                            .slide
                                h3 Web design & Development
                                p Google Adwords, Google Analytics, Google SEO Tools, да и каждый последующий сервис управления рекламой в интернете — совершенно занудная штука, с которой способен подружиться только дотошный технарь. Но и здесь есть место для творчества - мы называем это техническим креативом.
                    a(href='services.html' title='').link-inner.link-slider Все услуги
                        include svgs/arrow-right.svg

    section.section-portfolio
        a(href='#' title='' ).portfolio.portfolio-color-yellow
            .container
                .row.justify-content-md-center
                    .col-md-10.col-lg-5.col-xl-6.col-left
                        img(src='img/illus/illus2.png' title='' alt='').portfolio--image
                    .col-sm-8.col-md-10.col-lg-5.col-xl-4.col-right
                        h3 Мы Volta — киевское агентство цифровых коммуникаций
                        span.link-inner.link-inner-small View more
                            include svgs/arrow-right-small.svg
            .portfolio--viewport
                img(src='img/illus/illus2a.svg' title='' alt='').portfolio--viewport-image


        a(href='#' title='' ).portfolio.portfolio-left.portfolio-color-gray-dark
            .container
                .row.justify-content-md-center
                    .col-md-10.col-lg-5.col-xl-6.col-left
                        img(src='img/illus/illus3.png' title='' alt='').portfolio--image
                    .col-sm-8.col-md-10.col-lg-5.col-xl-4.col-right
                        h3 Мы Volta — киевское агентство цифровых коммуникаций
                        span.link-inner.link-inner-small View more
                            include svgs/arrow-right-small.svg
            .portfolio--viewport
                img(src='img/illus/illus3a.svg' title='' alt='').portfolio--viewport-image

    section.section-last
        .container
            .row.justify-content-center
                .col-md-10
                    h2 Clients
                    ul.ul-clients
                        li
                            img(src='img/clients/client1.png' title='' alt='')
                        li
                            img(src='img/clients/client2.png' title='' alt='')
                        li
                            img(src='img/clients/client3.png' title='' alt='')
                        li
                            img(src='img/clients/client4.png' title='' alt='')
                        li
                            img(src='img/clients/client5.png' title='' alt='')
                        li
                            img(src='img/clients/client6.png' title='' alt='')
                        li
                            img(src='img/clients/client7.png' title='' alt='')
                        li
                            img(src='img/clients/client8.png' title='' alt='')
                        li
                            img(src='img/clients/client9.png' title='' alt='')
                        li
                            img(src='img/clients/client10.png' title='' alt='')
                        li
                            img(src='img/clients/client11.png' title='' alt='')