//- layouts/layout.pug
extend layouts/_layout2.pug

block title
    | VOLTA - Portfolio

block canvas
    canvas#volta(data-color='2e2e2e')

block content

    include partials/headers/_header-portfolio

    section.section-filter
        .container
            .row.justify-content-center
                .col-md-8
                    ul.ul-filter
                        li
                            a(href='' title='').active Design
                        li
                            a(href='' title='') Campaign
                        li
                            a(href='' title='') SMM
                        li
                            a(href='' title='') Production
                .col-md-2
                    a(href='' title='').link-all Все



    section.section-last

        .portfolio.portfolio-color-yellow
            .portfolio--front
                a(href='' title='' target='_blank').container.portfolio--front-link
                    .row.justify-content-center
                        .col-xl-6.col-lg-5.col-md-10.col-left
                            img(src='img/illus/illus2.png' title='' alt='').portfolio--front-image
                        .col-xl-4.col-lg-5.col-md-10.col-right
                            .portfolio--front-description
                                h3 Мы Volta — киевское агентство цифровых коммуникаций
                                span.link-inner.link-inner-small View more
                                    include svgs/arrow-right-small.svg
                                .portfolio--front-description--marker Design
            .portfolio--back
                .portfolio--back-viewport
                    img(src='img/illus/illus2a.svg' title='').portfolio--back-viewport--image

        .portfolio.portfolio-color-gray-dark.portfolio-left
            .portfolio--front
                a(href='' title='' target='_blank').container.portfolio--front-link
                    .row.justify-content-center
                        .col-xl-6.col-lg-5.col-md-10.col-left
                            img(src='img/illus/illus3.png' title='' alt='').portfolio--front-image
                        .col-xl-4.col-lg-5.col-md-10.col-right
                            .portfolio--front-description
                                h3 Мы Volta — киевское агентство цифровых коммуникаций
                                span.link-inner.link-inner-small View more
                                    include svgs/arrow-right-small.svg
                                .portfolio--front-description--marker SMM
            .portfolio--back
                .portfolio--back-viewport
                    img(src='img/illus/illus3a.svg' title='').portfolio--back-viewport--image



