//- layouts/layout.pug
extend layouts/_layout2.pug

block title
    | VOLTA - Portfolio

block canvas
    canvas#volta(data-color='2e2e2e')

block content

    include partials/headers/_header-portfolio

    section.section-filter
        .container-fluid
            .row.justify-content-center
                .col-md-8.col-9
                    ul.ul-filter
                        li
                            a(href='' title='').active Design
                        li
                            a(href='' title='') Campaign
                        li
                            a(href='' title='') SMM
                        li
                            a(href='' title='') Production
                .col-md-2.col-3
                    a(href='' title='').link-all Все



    section.section-last
        a(href='#' title='' ).portfolio.portfolio-left.portfolio-color-purple
            .container-fluid
                .row.justify-content-md-center
                    .col-md-10.col-lg-5.col-xl-6.col-left
                        img(src='img/illus/illus4.png' title='' alt='').portfolio--image
                    .col-sm-8.col-md-10.col-lg-5.col-xl-4.col-right
                        h3 Мы Volta — киевское агентство цифровых коммуникаций
                        span.link-inner.link-inner-small View more
                            include svgs/arrow-right-small.svg
                        .portfolio-marker Design
            .portfolio--viewport
                img(src='img/illus/illus4a.svg' title='' alt='').portfolio--viewport-image


        a(href='#' title='' ).portfolio.portfolio-color-green
            .container-fluid
                .row.justify-content-md-center
                    .col-md-10.col-lg-5.col-xl-6.col-left
                        img(src='img/illus/illus5.png' title='' alt='').portfolio--image
                    .col-sm-8.col-md-10.col-lg-5.col-xl-4.col-right
                        h3 Мы Volta — киевское агентство цифровых коммуникаций
                        span.link-inner.link-inner-small View more
                            include svgs/arrow-right-small.svg
                        .portfolio-marker SMM
            .portfolio--viewport
                img(src='img/illus/illus5a.svg' title='' alt='').portfolio--viewport-image



