//- layouts/layout.pug
extend layouts/_layout2.pug

block title
    | VOLTA - Portfolio

block canvas
    canvas#volta(data-color='2e2e2e')

block content

    include partials/headers/_header-portfolio

    section.section-filter
        .container
            .row.justify-content-center
                .col-md-8
                    ul.ul-filter
                        li
                            a(href='#' title='').active Design
                        li
                            a(href='#' title='') Campaign
                        li
                            a(href='#' title='') SMM
                        li
                            a(href='#' title='') Production
                .col-md-2
                    a(href='#' title='').link-all Все



    section.section-last

        include partials/portfolio/_portfolio-yellow
        include partials/portfolio/_portfolio-black

        include partials/_pagination-small





