//- layouts/layout.pug
extend layouts/_layout3.pug

block title
    | VOLTA - Services


block canvas
    //canvas#volta(data-color='7521E1')


block content

    include partials/headers/_header-services

    section.section-last
        .service
            .container-fluid
                .row.justify-content-center
                    .offset-lg-1.col-md-2.col-sm-4
                        img(src='img/services/service1.svg' title='').service--image
                    .offset-md-1.col-lg-6.col-md-7.col-sm-8
                        h3 Web design & Development
                        p Google Adwords, Google Analytics, Google SEO Tools, да и каждый последующий сервис управления рекламой в интернете — совершенно занудная штука, с которой способен подружиться только дотошный технарь. Но и здесь есть место для творчества - мы называем это техническим креативом.
                        .service--capabilities
                            h4 Capabilities
                            ul
                                li Business Web-Site
                                li E-comerece development
                                li Landing Page Creation
                                li Web portal
            .service--viewport

        .service
            .container-fluid
                .row.justify-content-center
                    .offset-lg-1.col-md-2.col-sm-4
                        img(src='img/services/service2.svg' title='').service--image
                    .offset-md-1.col-lg-6.col-md-7.col-sm-8
                        h3 Branding & identity development
                        p Google Adwords, Google Analytics, Google SEO Tools, да и каждый последующий сервис управления рекламой в интернете — совершенно занудная штука, с которой способен подружиться только дотошный технарь. Но и здесь есть место для творчества - мы называем это техническим креативом.
                        .service--capabilities
                            h4 Capabilities
                            ul
                                li Business Web-Site
                                li E-comerece development
                                li Landing Page Creation
                                li Web portal
            .service--viewport

        .service
            .container-fluid
                .row.justify-content-center
                    .offset-lg-1.col-md-2.col-sm-4
                        img(src='img/services/service3.svg' title='').service--image
                    .offset-md-1.col-lg-6.col-md-7.col-sm-8
                        h3 Marketing & analyst
                        p Google Adwords, Google Analytics, Google SEO Tools, да и каждый последующий сервис управления рекламой в интернете — совершенно занудная штука, с которой способен подружиться только дотошный технарь. Но и здесь есть место для творчества - мы называем это техническим креативом.
                        .service--capabilities
                            h4 Capabilities
                            ul
                                li Business Web-Site
                                li E-comerece development
                                li Landing Page Creation
                                li Web portal
            .service--viewport

        .service
            .container-fluid
                .row.justify-content-center
                    .offset-lg-1.col-md-2.col-sm-4
                        img(src='img/services/service4.svg' title='').service--image
                    .offset-md-1.col-lg-6.col-md-7.col-sm-8
                        h3 Mobile app development
                        p Google Adwords, Google Analytics, Google SEO Tools, да и каждый последующий сервис управления рекламой в интернете — совершенно занудная штука, с которой способен подружиться только дотошный технарь. Но и здесь есть место для творчества - мы называем это техническим креативом.
                        .service--capabilities
                            h4 Capabilities
                            ul
                                li Business Web-Site
                                li E-comerece development
                                li Landing Page Creation
                                li Web portal
            .service--viewport


