@import "../../utilities/vars"
@import "../../utilities/mixins"

.btn
  display block
  max-width 320px
  width 100%
  text-align center
  background blue
  color $white
  padding $s12 $s15 $s13
  margin-bottom $s15
  &:hover
    color $white
    background lightblue

.btn-center
  mcenter()

.btn-send
  border none
  cursor default
  background $trans
  line-height: 1.13;
  font-size 1.875em
  color $white
  display flex
  float right
  padding 0
  trans()
  &:focus
    outline none

  &--text
    padding $s6 0
    margin-right $s32
  &--icon
    width 68px
    height 60px
    overflow hidden
    svg
      float right
      #rect
        fill #de0f72
        trans()
      #arrow1
        fill #fd5fab
        trans()
      #arrow2
        trans()

.form-hire.success, .form-contactus.success
  .btn-send
    cursor pointer
    &--icon
      svg
        #arrow1
          fill $white
    &:hover
      .btn-send--icon svg #arrow1, .btn-send--icon svg #arrow2
        transform translate3d(49px, 0, 0)

.form-contactus
  .btn-send
    &--icon
      svg
        #rect
          fill #541b9d
        #arrow1
          fill $purple-lighter