@import "../../utilities/vars"
@import "../../utilities/mixins"

a
  text-decoration none
  font-family $m-font, $s-font, sans-serif
  color $pink
  trans()
  &:hover, &:focus
    text-decoration none
    color $pink-dark
    outline none

.link-logo
  display block
  max-width 97px
  +mobile()
    max-width 88px
    display flex
    align-items center
    height auto
  svg
    height auto
    width 100%
    g
      fill $purple
      trans()
      +mobile()
        fill $white
    &:hover
      g
        fill $pink


.link-inner
  font-size: 1.625em
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  display inline-block
  margin-bottom $s18
  trans()
  svg
    margin-left $s30
    position relative
    top 4px
    g
      fill $pink
  &:hover
    letter-spacing 3px

.link-inner-small
  font-size 1.25em
  svg
    top 2px
    margin-left $s10

.link-slider
  margin-left 35%
  +mobile()
    margin-left 0



.link-arrow
  display block
  position fixed
  right 15px
  bottom 66px
  opacity 0
  visibility hidden
  z-index -1
  trans()

  +mobile()
    position absolute
    top 50px
    right 38px
    bottom auto
  svg g
    fill $purple
    trans()
  &:hover
    svg g
      fill $pink

.link-arrow.visible
  opacity 1
  visibility visible
  z-index 8999

.link-all
  letter-spacing: 0.7px;
  font-size $f20
  font-weight 700
  float right
  color $pink-darker
  line-height: 1.4;
  &:hover
    color $pink-dark

.link-more
  display inline-block
  position absolute
  right 15px
  bottom 34px
  color #ff1182
  line-height: 1.44;
  font-family $sl-font, $s-font, sans-serif
  font-weight 500
  padding $s7 $s14
  opacity 0
  trans()
  +portrait()
    opacity 1
  +mobile()
    opacity 1
  +landscape()
    right 30px
  &:after
    pseudo(block, absolute)
    width 100%
    background #ff1182
    height 4px
    left 0
    right 0
    top 0
    trans()
  &:hover
    &:after
      top 33px

.link-tag
  color $gray-lightdark
  border 0
  position relative
  z-index 10
  padding 0 $s2
  line-height 1
  &:after, &:before
    pseudo(block, absolute)
    background #b9b9b9
    left 0
    right 0
    bottom -3px
    height 10px
  &:before
    background $pink
    z-index -1
    right 100%
    trans()
  &:after
    z-index -2
  &:hover
    color #605c65
    &:before
      right 0
