@import '../../utilities/vars'
@import '../../utilities/mixins'

ul
  li
    list-style none
    ul
      margin-top $s15
      margin-left $s20

ul, ol
  padding 0
  margin 0
  li
    font-family $m-font, sans-serif

ol
  margin-left $s20
  li
    ol
      margin-top $s15

.ul-regular
  li
    position relative
    padding-left $s20
    margin-bottom $s20
    &:before
      pseudo(block, absolute)
      width 8px
      height 1px
      background $black
      top 10px
      left 0

.ul-clients
  display flex
  flex-flow row wrap
  justify-content center
  align-items center
  padding 43px 0 25px
  li
    flex 1 1 20%
    max-width 20%
    text-align center
    margin-bottom $s24
    +tablet()
      flex 1 1 25%
      max-width 25%
    +portrait()
      flex 1 1 33.33333%
      max-width 33.33333%

    +mobile()
      flex 1 1 50%
      max-width 50%
      padding-left 15px
      padding-right 15px
    +landscape()
      flex 1 1 33.33333%
      max-width 33.33333%
    img
      max-width 100%

.ul-filter
  display flex
  flex-flow row wrap
  li
    margin-right 40px
    +portrait()
      margin-right 30px
    +mobile()
      margin-right 20px
      margin-bottom 10px
    a
      font-size $f18
      color $white
      display inline-block
      border-bottom 3px solid $trans
      padding: 3px 0;
      +mobile()
        font-size: 1.125em;
      &:hover
        border-bottom-color $pink-darker
    .active
      border-bottom-color $pink-darker
