@import '../../utilities/vars'
@import '../../utilities/mixins'

ul, ol
  padding 0
  margin 0
  li
    font-family $m-font, sans-serif
    list-style none


.ul-clients
  display flex
  flex-wrap wrap
  justify-content center
  align-items center
  padding $s43 0 $s25
  li
    flex 1 1 20%
    max-width 20%
    text-align center
    margin-bottom $s24
    +tablet()
      flex 1 1 25%
      max-width 25%
    +portrait()
      flex 1 1 33.33333%
      max-width 33.33333%
    +mobile()
      flex 1 1 50%
      max-width 50%
      padding 0 $s15
    +landscape()
      flex 1 1 33.33333%
      max-width 33.33333%
    img
      max-width 100%

.ul-filter
  display flex
  flex-wrap wrap
  li
    margin-right $s40
    +portrait()
      margin-right $s30
    +mobile()
      margin-right $s20
      margin-bottom $s10
    a
      font-size $f18
      color $white
      display inline-block
      border-bottom 3px solid $trans
      padding: $s3 0;
      +mobile()
        font-size: 1.125em;
      &:hover
        border-bottom-color $pink-darker
    .active
      border-bottom-color $pink-darker
