@import '../../utilities/vars'
@import '../../utilities/mixins'

ul, ol
  padding 0
  margin 0
  li
    font-family $m-font, sans-serif
    list-style none


.ul-clients
  display flex
  flex-wrap wrap
  justify-content center
  align-items center
  padding $s43 0 $s25
  li
    flex 1 1 20%
    max-width 20%
    text-align center
    margin-bottom $s24
    +tablet()
      flex 1 1 25%
      max-width 25%
    +portrait()
      flex 1 1 33.33333%
      max-width 33.33333%
    +mobile()
      flex 1 1 50%
      max-width 50%
      padding 0 $s15
    +landscape()
      flex 1 1 33.33333%
      max-width 33.33333%
    img
      max-width 100%
      +portrait()
        max-width: 85%;

.ul-filter
  display flex
  flex-wrap wrap
  //+mobile()
  //  justify-content space-between
  li
    margin-right $s40
    +portrait()
      margin-right $s30
    +mobile()
      margin-right $s26
      margin-bottom $s15
    a
      font-size $f18
      color $white
      display inline-block
      padding: $s3 0 $s6;
      position relative
      +mobile()
        font-size: 1.125em;
      &:after
        pseudo(block, absolute)
        height 3px
        bottom 0
        left 0
        right 0
        background $pink-darker
        width 0
        trans()
      &:hover
        &:after
          width 100%
    .active
      &:after
        width 100%
