style.
    #preloader-load {
        display: block;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff url('../img/logo/volta-logo4.svg') center center no-repeat;
        background-size: 197px
    }

#preloader
    #preloader-load

script(type='text/javascript').
    var preloader = document.getElementById("preloader-load");function fadeOutnojquery(el) {
        el.style.opacity = 1;
        var interpreloader = setInterval(function () {
            el.style.opacity = el.style.opacity - 0.05;
            if (el.style.opacity <= 0.05) {
                clearInterval(interpreloader);
                preloader.style.display = "none";
            }
        }, 16);
    }window.onload = function () {
        setTimeout(function () {
            fadeOutnojquery(preloader);
        }, 1000);
    };