//  SECTION
//@import 'partials/volta'
@import 'partials/panel-icon'
@import 'partials/jumbotron'
@import 'partials/portfolio'
@import 'partials/hire'
@import 'partials/service'
@import 'partials/team'
@import 'partials/blog'
@import 'partials/blogin'
@import 'partials/contacts'
@import 'partials/grid'
//@import 'partials/flexview'
@import 'partials/explorer'

@import 'partials/colors'