.portfolio.portfolio-color-gray-dark.portfolio-left
    .portfolio--front
        a(href='portfolio.html' title='' target='_blank').container.portfolio--front-link
            .row.justify-content-center
                .col-xxl-5.col-xl-6.col-lg-5.col-md-10.col-left
                    img(src='img/illus/illus3.png' title='' alt='').portfolio--front-image
                .col-xxl-3.col-xl-4.col-lg-5.col-md-10.col-right
                    .portfolio--front-description
                        h3 Мы Volta — киевское агентство цифровых коммуникаций
                        span.link-inner.link-inner-small View more
                            include ../../svgs/arrow-right-small.svg
                        .portfolio--front-description--marker SMM
    .portfolio--back
        .portfolio--back-viewport
            img(src='img/illus/illus3a.svg' title='').portfolio--back-viewport--image